<header class="w3-bar w3-blue-gray">
    <a href="/" class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey">
        <i class="fa fa-book"></i>
        <span class="w3-margin-left">Домашняя библиотека</span>
    </a>
</header>
